<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>Lambda_Voyage</title>
  </head>
  <body>
    <nav>
      <div class="nav__logo">LambdaVoyage</div>
      <ul class="nav__links">
        <li class="link"><a href="/home">Home</a></li>
        <li class="link"><a href="/about">About</a></li>
        <li class="link"><a href="/offers">Offers</a></li>
        <li class="link"><a href="/seats">Seats</a></li>
        <li class="link"><a href="/destinations">Destinations</a></li>
      </ul>
      <button class="btn" (click)="redirectToLogin()">Login</button>
    </nav>
    <router-outlet></router-outlet>
  </body>
</html>

