<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="about-component.component.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>

<section class="about">
  <div class="main">
    <img src="../../assets/about.jpg">
    <div class="about-text">
      <h1>About Us</h1>
      <h5>Airline <span>LambdaVoyage</span></h5>
      <p>At LambdaVoyage, our passion is to take travelers to new heights
        and connect the world in a safe, comfortable and exciting way.
        Since our inception, we have been committed to delivering an
        exceptional travel experience, and that is what drives us to continue
        to innovate and improve on every flight.</p>
    </div>
  </div>
</section>

</body>
</html>
